[Unit]
Description=Hello World web-app
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/hello-monitor/app
ExecStart=/usr/bin/python3 app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
